# Next.js app
APP_URL=http://localhost:3000
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_SUPERUSER_EMAIL=you@example.com
POCKETBASE_SUPERUSER_PASSWORD=change-this-pocketbase-password
PORT=3000

# PocketBase Docker service
PB_DIR=/pb/pb_data
PB_MIGRATIONS_DIR=/pb/pb_migrations
PB_HTTP=0.0.0.0:8090
